//- ---
//- author: Tim Carry
//- ---

block content
  +slide.bg-green
    .flex.flex-center.h-100p
      .flex.flex-col
        .flex.text-6.white.bold.text-shadow Reddinx: A reddit indexer
        .flex.white.text-shadow.bullet-arrow  Search your favorite subreddit with Algolia

  +slide
    +title Who am I?
    .flex.h-100p.flex-center
      .flex-none.flex.flex-row
        .flex-auto.text-right
          .text-6.mb-3 Tim Carry
          .text-4.gray-7 Full-Stack Engineer at #[img.h-6.inline-block(src="./assets/images/doctolib.png")]
          .text-3.gray-6 Previously at #[img.h-6.inline-block(src="./assets/images/algolia.png")]
          .text-6.green.mt-3
            .inline @
            .inline.underline.text-shadow pixelastic
        .flex-auto.ml-4
            img.h-20.rounded-full(src=`./assets/images/avatar.jpg`, alt="Tim Carry")
    .notes
      p Used to work here
      p Actually, used to co-organize this event, so very happy to be able to be part of it again

  +slide
    .absolute.inset-0.z-0
      .absolute.inset-0.bg-cover(style="background-image:url('./assets/images/gm.jpg')")
      .absolute.inset-0.bg-black.bg-opacity-50p
    .flex.flex-col.z-1.h-100p
      .flex.justify-center
        img.h-15.mt-5(src="./assets/images/dndlogo.png")
      .flex.flex-auto.flex-row.items-center.justify-around(data-step)
        .fln
          img.rounded.w-13(src="./assets/images/map4.png")
        .fln
          img.rounded.w-13(src="./assets/images/map3.png")
        .fln
          img.rounded.w-13(src="./assets/images/map5.png")
        .fln
          img.rounded.w-13(src="./assets/images/map6.png")
        .fln
          img.rounded.w-13(src="./assets/images/map7.png")
        .fln
          img.rounded.w-13(src="./assets/images/map2.png")
    .notes
      p I also love to gather a bunch of friends, sit around and play Dungeons & Dragons
      p As the gamemaster, I like to create stories to engage my players
      p Have them in fantastic locations, like in a flying city, in the heart of a volcano or a haunted manor
      p Great way to spark the imagination is to have a map to share

  +slide
    +title reddit.com/r/dndmaps 💎
    .flex.h-100p.flex-row
      .flex-none.w-50p(style="background-image:url('./assets/images/dndmaps.png')")
      .flex-auto.flex.items-center.mx-3
        .flex.flex-col.text-3
          .bullet-green.bullet-tick Free
          .bullet-green.bullet-tick Updated daily
          .bullet-green.bullet-tick Amateur and pro quality
          .bullet-green.bullet-tick Great source of inspiration

  +slide
    +title reddit.com/search 💩
    .flex.h-100p.flex-row
      .flex-none.w-50p(style="background-image:url('./assets/images/redditsearch.png')")
      .flex-auto.flex.items-center.mx-3
        .flex.flex-col
          .bullet-red.bullet-cross Slow
          .bullet-red.bullet-cross No typo tolerance
          .bullet-red.bullet-cross Frustrating to use
          .bullet-red.bullet-cross Visually cluttered results

  +slide
    +title api.reddit.com 🤖
    .flex.h-100p.flex-col
      .flex.p-4.flex-center
        code.code 
          .inline.white api.reddit.com/api/info/
          .inline.gray ?
          .inline.green id
          .inline.gray =
          .inline.blue-5 t3_
          .inline.blue-3 hvjxtn
      .flex.flex-auto.flex-center.bg-gray-9
        .codeblock.language-json.text-1.overflow-hidden.px-1.pb-1
          |{
          |    "id": "hvjxtn",
          |    "title": "Dragonship - A living forest dragon pirate ship - Made in Inkarnate - 44 x 33",
          |    "permalink": "/r/dndmaps/comments/hvjxtn/dragonship_a_living_forest_dragon_pirate_ship/",
          |    "thumbnail": "https://b.thumbs.redditmedia.com/9psU-VI15Vf2AnWG6cJ5SA6djUKoPY4a_IlYo09_9MU.jpg",
          |    "created": 1595408294.0,
          |    "score": 116,
          |    "subreddit": "dndmaps",
          |    "author": "crashgem",
          |    "ups": 116,
          |}

  +slide.bg-blue.flex-center
    .flex.flex-col.white.text-shadow
      .flex-auto.flex.flex-row.text-6
        .flex-none.w-6  
        .flex-none.px-2 💎
        .flex-none.pl-3 Great data
      .flex-auto.flex.flex-row.text-6
        .flex-none.w-6 -
        .flex-none.px-2 💩
        .flex-none.pl-3 Crappy Search
      .flex-auto.flex.flex-row.text-6.border-b-01.border-white
        .flex-none.w-6 +
        .flex-none.px-2 🤖
        .flex-none.pl-3 Available API
      .flex-auto.flex.flex-row.text-6(data-step)
        .flex-none.w-6 =
        .flex-none.px-2 🔎
        .flex-none.pl-3.bold Algolia Project

  +slide.bg-blue-7
    a.absolute.inset-0.mt-8.z-0.bg-cover(style="background-image:url('./assets/images/maps.png')", href="https://gamemaster.pixelastic.com/maps/", target="_blank")
    +title 
      a.white(href="https://gamemaster.pixelastic.com/maps/") gamemaster.pixelastic.com/maps/ 🧭

  +slide
    +title 3 major steps
    .flex.flex-col.flex-center.h-100p
      .flex.flex-col.text-5
        .bullet-1.bullet-green Fetching the #[.inline.orange initial] data
        .bullet-2.bullet-green Keeping data #[.inline.orange fresh]
        .bullet-3.bullet-green Building the #[.inline.orange search UI]

  +slide
    +title 1. Fetching the initial data
    .flex.h-100p.flex-row
      .flex-none.w-50p.flex.flex-col.flex-center
        .flex.flex-col
          .flex.justify-center.mb-3
            img.h-10(src="./assets/images/reddit.png")
          .flex.justify-center.mb-3
            code.code api.reddit.com
          .flex.bullet-green.bullet-tick Details of a post
          .flex.bullet-red.bullet-cross History of a subreddit
      .flex-none.w-50p.flex.flex-col.flex-center(data-step)
        .flex.flex-col
          .flex.justify-center.mb-3
            img.h-10(src="./assets/images/pushshift.png")
          .flex.justify-center.mb-3
            code.code api.pushshift.io
          .flex.bullet-red.bullet-cross Details of a post
          .flex.bullet-green.bullet-tick History of a subreddit

  +slide.bg-gray-9
    .flex.flex-row.h-100p
      .flex
        .codeblock.text-1.overflow-hidden.px-1.pb-1.lh-1
          |data
          |├── 2017
          |│   ├── 01
          |│   ├── 02
          |│   ├── 03
          |│   │   ├── t3_6a0f2s.json
          |│   │   ├── t3_6a0o4n.json
          |│   │   ├── t3_6a7au5.json
          |│   │   ├── t3_6aex01.json
          |│   │   ├── t3_6aype2.json
          |│   │   ├── t3_6azfnv.json
          |│   │   ├── t3_6b6zev.json
          |│   │   ├── t3_6bbdis.json
          |│   │   └── t3_6bj0y9.json
          |│   ├── 04
          |│   ├── 05
          |│   ├── 06
          |│   ├── 07
          |│   ├── 08
          |│   ├── 09
          |│   ├── 10
          |│   ├── 11
          |│   └── 12
          |├── 2018
          |│   ├── 01
          |│   ├── 02
          |│   ├── 03
          |│   ├── 04
          |│   ├── 05
      .flex.flex-center.overflow-hidden.border-l-01.border-gray-8.ml-3.pl-3
        .codeblock.language-json.text-1.overflow-hidden.px-1.pb-1.lh-1
          |{
          |  "id": "t3_hvjxtn",
          |  "title": "Dragonship - A living forest dragon pirate ship - Made in Inkarnate - 44 x 33",
          |  "url": "https://www.reddit.com/r/dndmaps/comments/hvjxtn/dragonship_a_living_forest_dragon_pirate_ship/",
          |  "author": {
          |    "id": "t2_c5ezw",
          |    "name": "crashgem"
          |  },
          |  "picture": {
          |    "full": "https://preview.redd.it/42epgdrp4bc51.jpg?auto=webp&s=515cbdf60a128fbfae0e7c191b60e2b737988a92",
          |    "preview": "https://preview.redd.it/42epgdrp4bc51.jpg?width=640&crop=smart&auto=webp&s=cf1bb269ef5c065da05242b79bc263a4d00553e8",
          |    "thumbnail": "https://b.thumbs.redditmedia.com/9psU-VI15Vf2AnWG6cJ5SA6djUKoPY4a_IlYo09_9MU.jpg"
          |  },
          |  "score": {
          |    "comments": 4,
          |    "downs": 0,
          |    "ratio": 1,
          |    "ups": 110,
          |    "value": 110
          |  },
          |  "tags": ["Vessel"],
          |}

  +slide
    +title 2. Keeping data fresh
    .flex.h-100p.flex-col.items-center
      .flex-auto.flex-col.w-80p
        .text-6.blue.bold.text-shadow Frequency
        .text-3.ml-6 How often do you want to update the data?
        .text-3.ml-9.bullet-arrow.bullet-green.bold(data-step) Every day
      .flex-auto.flex-col.w-80p
        .text-6.orange.bold.text-shadow Quantity
        .text-3.ml-6 How far back do you want to update the data?
        .text-3.ml-9.bullet-arrow.bullet-green.bold(data-step) Up to 7 days


  mixin search_ui()
    .flex.flex-row.h-100p
      .flex-none.w-50p.relative.flex.flex-center
        .z-0.absolute.inset-0.m-9.bg-contain.bg-no-repeat(style="background-image:url('./assets/images/pinterest.png')")
        .z-0.absolute.inset-0.bg-white.bg-opacity-75p
        .z-1.relative.flex.flex-col.text-5
          block
      .flex-none.w-50p.px-4.flex-center.flex
        img.rounded.shadow-4(src="./assets/images/maps.png")

  +slide
    +title 3. Building the Search UI
    +search_ui
      .bullet-arrow.bullet-green Infinite scroll
      .bullet-arrow.bullet-green Masonry effect

  +slide
    +title 3. Building the Search UI: Infinite Scroll
    +search_ui
      code.code.text-3.lh-5
        .gray // Javascript
        .green widgets.infiniteHits()
        .orange IntersectionObserver()

  +slide
    +title 3. Building the Search UI: Masonry effect
    +search_ui
      code.code.text-3.lh-5
        .gray /* CSS */
        .orange grid-auto-rows: 10px
        .orange
          .inline grid-row-end: span 
          .inline.yellow-4.bold ???
        .gray // Javascript
        .green onHeightChange()

  +slide.bg-gray-9
    +title.white Open-Source
    .flex.flex-center.h-100p
      .codeblock.language-js.text-3.overflow-hidden.px-1.pb-1
        |// Load it as an npm module
        |const reddinx = require('reddinx');
        |// Pick any subreddit
        |const subredditName = 'dndmaps';
        |// Fetch initial data
        |await reddinx.initial(subredditName);
        |// Keep data fresh
        |await reddinx.incremental(subredditName);
        
  +slide.bg-green
    .flex.flex-col.h-100p.white.text-shadow
      .flex-auto.flex.text-8.text-shadow.bold.flex-center Thank you
      .flex-auto.flex.flex-col.text-5.ml-6
        .flex.flex-row.mb-5
          .flex.w-9.mr-3 🧭
          a.flex.underline(href="https://gamemaster.pixelastic.com/maps") gamemaster.pixelastic.com/maps/
        .flex.flex-row
          .flex.w-9.mr-3
            +svg_yarn.w-9.fill-current
          a.flex.underline(href="https://yarn.pm/reddinx") yarn.pm/reddinx



