//- ---
//- title: Index
//- ---

block content
  +slide.bg-green.debug
    .flex.h-100p.flex-center
      .text-10 reddinx

  +slide
    +title Who am I?
    .flex.h-100p.flex-center
      .flex-none.flex.flex-row
        .flex-auto.text-right
          .text-6.mb-3 Tim Carry
          .text-4.gray-7 Full-Stack Engineer at #[img.h-6.inline-block(src="./assets/images/doctolib.png")]
          .text-3.gray-6 Previously at #[img.h-6.inline-block(src="./assets/images/algolia.png")]
          .text-6.green.mt-3
            .inline @
            .inline.underline pixelastic
        .flex-auto.ml-4
            img.h-20.rounded-full(src=`./assets/images/avatar.jpg`, alt="Tim Carry")
    .notes
      p Used to work here
      p Actually, used to co-organize this event, so very happy to be able to be part of it again

  +slide
    .absolute.inset-0.z-0
      .absolute.inset-0.bg-cover(style="background-image:url('./assets/images/gm.jpg')")
      .absolute.inset-0.bg-black.bg-opacity-50p
    .flex.flex-col.z-1.h-100p
      .flex.justify-center
        img.h-15.mt-5(src="./assets/images/dndlogo.png")
      .flex.flex-auto.flex-row.items-center.justify-around(data-step)
        .fln
          img.rounded.w-13(src="./assets/images/map4.png")
        .fln
          img.rounded.w-13(src="./assets/images/map3.png")
        .fln
          img.rounded.w-13(src="./assets/images/map5.png")
        .fln
          img.rounded.w-13(src="./assets/images/map6.png")
        .fln
          img.rounded.w-13(src="./assets/images/map7.png")
        .fln
          img.rounded.w-13(src="./assets/images/map2.png")
    .notes
      p I also love to gather a bunch of friends, sit around and play Dungeons & Dragons
      p As the gamemaster, I like to create stories to engage my players
      p Have them in fantastic locations, like in a flying city, in the heart of a volcano or a haunted manor
      p Great way to spark the imagination is to have a map to share

  +slide
    +title reddit.com/r/dndmaps/ 💎
    .flex.h-100p.flex-row
      .flex-none.w-50p.h-100p
        img.h-100p.rounded.shadow-3(src="./assets/images/dndmaps.png")
      .flex-auto.flex.items-center.mx-3
        .flex.flex-col
          .bullet-green.bullet-tick Free
          .bullet-green.bullet-tick Updated daily
          .bullet-green.bullet-tick Amateur and pro quality
          .bullet-green.bullet-tick Great source of inspiration

  +slide
    +title reddit.com/search/ 💩
    .flex.h-100p.flex-row
      .flex-none.w-50p.h-100p
        img.h-100p.rounded.shadow-3(src="./assets/images/redditsearch.png")
      .flex-auto.flex.items-center.mx-3
        .flex.flex-col
          .bullet-red.bullet-cross Slow
          .bullet-red.bullet-cross No typo tolerance
          .bullet-red.bullet-cross Frustrating to use
          .bullet-red.bullet-cross Visually cluttered results

  +slide
    .notes
      p No authentication required
      p Easy to test in browser
      p Seems to work pretty well
    +title api.reddit.com/
    .flex.h-100p.flex-col
      .flex.p-4.flex-center
        code.code 
          .inline.white api.reddit.com/api/info/
          .inline.gray ?
          .inline.green id
          .inline.gray =
          .inline.blue-5 t3_
          .inline.blue-3 hvjxtn
      .flex.flex-auto
        .codeblock.language-json.text-1.overflow-hidden.px-1.pb-1
          | "dependencies": {
          |    "algoliasearch": "^3.35.1",
          |    "instantsearch.js": "^4.1.1",
          |    "lazysizes": "^5.2.0",
          |    "lodash-es": "^4.17.15"
          | }


    //- p But they have an API
    //- p Great because self-explanatory, no auth, lots of data
    //- p Bad because same, can't go to far in the past
    //- p Have personal API as well for finding old elements

  +slide
    p Crappy Search
    p Availabe API
    p Algolia
    p Recipe for side project

  +slide
    p /maps
    p Demo
    p Infinite scroll, sorted by popularity, newest first

  +slide
    p Getting the data
    p Find subreddit creation date
    p target API and ask for all posts in batch, month after month
    p Pushshift
    p {Screenshot of the folders, with each month}
    p {Screenshot of the final looking Algolia record}

  +slide
    p Automatic updates
    p Script on Circle CI, runs every day
    p Picks the latest posts and update the data
    p Adds new one and updates popularity of old ones
    p (yes, there is a window where popularity is off if an old one is upvoted)

  +slide
    p Front end is one HTML page
    p The full Pinterest time-sucking experience
    p Algolia for Infinite Hits
    p CSS Grid for the masonry effect (code example of JS/CSS?)

  +slide
    p Project is open source
    p Website, with all the data, and if you want to build a similar UI
    p Reddinx if you want to index another of your favorite subreddits
    p Works best if images, but I'm taking PRs to make it work with more text

  +slide
    p Remember, there is tons of data out there
    p Algolia is a great way to make it easier to navigate and open to more people
    p Pick a dataset, dump it into Algolia
    p Everything is better with Search

  +slide
    p Thanks!



